* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Open Sans', sans-serif;
}

nav img {
    height: 60px;
    width: 120px;
}

nav {
    display: flex;
    height: 90px;
    align-items: center;
    padding: 00px 100px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    -webkit-box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
box-shadow: 0px 4px 11px -4px rgba(0,0,0,0.75);
}

.container {
    margin-top: 90px;
}

nav span {
    display: flex;
    align-items: center;

}

nav ul {
    display: flex;
    list-style: none;
}

.button {
    cursor: pointer;
}

nav ul li {
    margin-right: 40px;
    padding: 15px 00px;
    border-bottom: 2px solid transparent;
    color: rgb(31, 31, 31);
    font-weight: 500;
    cursor: pointer;

}

nav ul li:hover {
    border-bottom: 2px solid black;
    color: black;
}

.black {
    height: 45px;
    width: 180px;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px 20px 3px 20px;
    border: none;
    margin: 10px;
}

.yellow {
    height: 45px;
    width: 170px;
    color: black;
    background-color: #F9C935;
    font-weight: 700;
    font-size: 15px;
    border-radius: 20px 20px 20px 3px;
    border: none;
    margin: 10px;
}

.first {
    display: flex;
    min-height: 550px;
}

.text {
    width: 50%;
    padding: 70px;
    min-height: 550px;

}

.img {
    width: 50%;
    min-height: 550px;
    display: flex;
    align-items: center;
}

.img img {
    width: 100%;
}

.text h1 {
    font-size: 50px;
    font-weight: 400;
    color: rgb(43, 43, 43);
    margin-top: 50px;
}

.text p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 40px;
    color: rgb(70, 70, 70);
    margin-bottom: 40px;
}

.second {
    min-height: 500px;
    margin: 60px;
    background-color: #FBF7DD;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 250px;
    align-items: center;

}

.second h1 {
    font-weight: 900;
    margin-bottom: 40px;

}

.second p {
    font-size: 20px;
    color: rgb(43, 43, 43);
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
}

.block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 160px;
    width: 160px;
    border-radius: 180px;
    margin: 20px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border: none;
}

.circle i {
    font-size: 42px;
    color: #F9C935;
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer h1 {
    font-size: 37px;
    font-weight: 900;
    margin-bottom: 40px;
}

.customer span {
    margin-bottom: 40px;
}

.cardbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 00px 70px;
}

.card {
    height: 400px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card img {
    height: 150px;
    width: 180px;
    margin-bottom: 30px;
}

.card h1 {
    font-size: 23px;
}

.card p {
    text-align: center;
    color: rgb(80, 78, 78);
}

.review {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 450px;
    margin: 50px;
    background-color: white;
    border-radius: 50px 50px 10px 50px;
    padding: 20px;
}

.review img {
    height: 80px;
    margin: 10px;
    border-radius: 15px 15px 5px 15px;
    border-top: 5px solid #F9C935;
    border-left: 5px solid #F9C935;

}

.rev {
    padding: 20px;
}

.rev h1 {
    font-size: 18px;
    margin-top: 20px;
}
.one{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 60px;
    color: white;
    background-color: black;
    border-bottom: 1px solid gray;
}
.one div{
    display: flex;
    flex-direction: column;


}
.one img{
    height: 50px;
    margin-bottom: 10px;
}
.one ul{
    list-style: none;
}
.one ul li{
    margin-bottom: 12px;
    cursor: pointer;
}
.one span i{
    font-size: 25px;
    cursor: pointer;
}
.one span{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.one h1{
    font-size: 19px;
    margin-bottom: 10px;
}
.two{
    padding: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media(max-width:900px) {
    .first {
        flex-direction: column;
        min-height: 110px;
    }

    .first .img {

        width: 100%;
        display: flex;
        align-items: center;
        min-height: 550px;

    }

    .first .text {
        width: 80%;
        height: 550px;
    }
    .one {
        flex-direction: column;
    }
    .one div{
        align-items: center;
        margin-bottom: 20px;
    }
    nav ul li{
        display: none;
    }
}